---
http_interactions:
- request:
    method: get
    uri: http://api.weatherapi.com/v1/forecast.json?key=db2e7bac77164ad99e115641241301&q=38.10984,-87.78929
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Cdn-Pullzone:
      - '93447'
      Cdn-Uid:
      - 8fa3a04a-75d9-4707-8056-b7b33c8ac7fe
      Cdn-Requestcountrycode:
      - US
      X-Weatherapi-Qpm-Left:
      - '4999950'
      Cdn-Proxyver:
      - '1.04'
      Cdn-Requestpullsuccess:
      - 'True'
      Cdn-Requestpullcode:
      - '200'
      Cdn-Cachedat:
      - 01/16/2024 20:34:51
      Cdn-Edgestorageid:
      - '940'
      Cdn-Status:
      - '200'
      Cdn-Requestid:
      - 10401f9a1d677595b1deb7a98eb6aca9
      Cdn-Cache:
      - HIT
    body:
      encoding: ASCII-8BIT
      string: '{"location":{"name":"Wadesville","region":"Indiana","country":"United
        States of America","lat":38.11,"lon":-87.79,"tz_id":"America/Chicago","localtime_epoch":1705437252,"localtime":"2024-01-16
        14:34"},"current":{"last_updated_epoch":1705437000,"last_updated":"2024-01-16
        14:30","temp_c":-8.9,"temp_f":16.0,"is_day":1,"condition":{"text":"Sunny","icon":"//cdn.weatherapi.com/weather/64x64/day/113.png","code":1000},"wind_mph":13.6,"wind_kph":22.0,"wind_degree":250,"wind_dir":"WSW","pressure_mb":1024.0,"pressure_in":30.25,"precip_mm":0.0,"precip_in":0.0,"humidity":48,"cloud":0,"feelslike_c":-16.2,"feelslike_f":2.9,"vis_km":16.0,"vis_miles":9.0,"uv":2.0,"gust_mph":18.1,"gust_kph":29.2},"forecast":{"forecastday":[{"date":"2024-01-16","date_epoch":1705363200,"day":{"maxtemp_c":-9.5,"maxtemp_f":14.9,"mintemp_c":-14.0,"mintemp_f":6.9,"avgtemp_c":-12.0,"avgtemp_f":10.3,"maxwind_mph":13.0,"maxwind_kph":20.9,"totalprecip_mm":0.25,"totalprecip_in":0.01,"totalsnow_cm":0.21,"avgvis_km":9.6,"avgvis_miles":5.0,"avghumidity":67,"daily_will_it_rain":1,"daily_chance_of_rain":74,"daily_will_it_snow":0,"daily_chance_of_snow":12,"condition":{"text":"Light
        freezing rain","icon":"//cdn.weatherapi.com/weather/64x64/day/311.png","code":1198},"uv":2.0},"astro":{"sunrise":"07:06
        AM","sunset":"04:56 PM","moonrise":"10:31 AM","moonset":"11:17 PM","moon_phase":"Waxing
        Crescent","moon_illumination":26,"is_moon_up":1,"is_sun_up":0},"hour":[{"time_epoch":1705384800,"time":"2024-01-16
        00:00","temp_c":-12.7,"temp_f":9.1,"is_day":0,"condition":{"text":"Overcast","icon":"//cdn.weatherapi.com/weather/64x64/night/122.png","code":1009},"wind_mph":9.6,"wind_kph":15.5,"wind_degree":322,"wind_dir":"NW","pressure_mb":1027.0,"pressure_in":30.32,"precip_mm":0.0,"precip_in":0.0,"snow_cm":0.0,"humidity":65,"cloud":100,"feelslike_c":-20.3,"feelslike_f":-4.5,"windchill_c":-20.3,"windchill_f":-4.5,"heatindex_c":-12.7,"heatindex_f":9.1,"dewpoint_c":-18.0,"dewpoint_f":-0.3,"will_it_rain":0,"chance_of_rain":0,"will_it_snow":0,"chance_of_snow":0,"vis_km":10.0,"vis_miles":6.0,"gust_mph":13.3,"gust_kph":21.3,"uv":1.0,"short_rad":0.0,"diff_rad":0.0},{"time_epoch":1705388400,"time":"2024-01-16
        01:00","temp_c":-12.8,"temp_f":8.9,"is_day":0,"condition":{"text":"Overcast","icon":"//cdn.weatherapi.com/weather/64x64/night/122.png","code":1009},"wind_mph":10.3,"wind_kph":16.6,"wind_degree":322,"wind_dir":"NW","pressure_mb":1026.0,"pressure_in":30.29,"precip_mm":0.0,"precip_in":0.0,"snow_cm":0.0,"humidity":66,"cloud":100,"feelslike_c":-20.5,"feelslike_f":-4.8,"windchill_c":-20.5,"windchill_f":-4.8,"heatindex_c":-12.8,"heatindex_f":8.9,[...]
