---
http_interactions:
- request:
    method: get
    uri: http://api.weatherapi.com/v1/forecast.json?key=db2e7bac77164ad99e115641241301&q=38.10984,-87.78929
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Cdn-Pullzone:
      - '93447'
      Cdn-Uid:
      - 8fa3a04a-75d9-4707-8056-b7b33c8ac7fe
      Cdn-Requestcountrycode:
      - US
      X-Weatherapi-Qpm-Left:
      - '4999984'
      Cdn-Proxyver:
      - '1.04'
      Cdn-Requestpullsuccess:
      - 'True'
      Cdn-Requestpullcode:
      - '200'
      Cdn-Cachedat:
      - 01/13/2024 19:49:20
      Cdn-Edgestorageid:
      - '940'
      Cdn-Status:
      - '200'
      Cdn-Requestid:
      - e295a2ff854b9ea808e794845531a287
      Cdn-Cache:
      - EXPIRED
    body:
      encoding: ASCII-8BIT
      string: '{"location":{"name":"Wadesville","region":"Indiana","country":"United
        States of America","lat":38.11,"lon":-87.79,"tz_id":"America/Chicago","localtime_epoch":1705175323,"localtime":"2024-01-13
        13:48"},"current":{"last_updated_epoch":1705175100,"last_updated":"2024-01-13
        13:45","temp_c":-2.8,"temp_f":27.0,"is_day":1,"condition":{"text":"Overcast","icon":"//cdn.weatherapi.com/weather/64x64/day/122.png","code":1009},"wind_mph":12.5,"wind_kph":20.2,"wind_degree":240,"wind_dir":"WSW","pressure_mb":1014.0,"pressure_in":29.94,"precip_mm":0.0,"precip_in":0.0,"humidity":72,"cloud":100,"feelslike_c":-9.6,"feelslike_f":14.8,"vis_km":16.0,"vis_miles":9.0,"uv":2.0,"gust_mph":18.3,"gust_kph":29.4},"forecast":{"forecastday":[{"date":"2024-01-13","date_epoch":1705104000,"day":{"maxtemp_c":-1.1,"maxtemp_f":30.1,"mintemp_c":-7.0,"mintemp_f":19.5,"avgtemp_c":-4.9,"avgtemp_f":23.2,"maxwind_mph":22.8,"maxwind_kph":36.7,"totalprecip_mm":0.2,"totalprecip_in":0.01,"totalsnow_cm":0.1,"avgvis_km":8.5,"avgvis_miles":5.0,"avghumidity":65,"daily_will_it_rain":1,"daily_chance_of_rain":88,"daily_will_it_snow":0,"daily_chance_of_snow":21,"condition":{"text":"Light
        freezing rain","icon":"//cdn.weatherapi.com/weather/64x64/day/311.png","code":1198},"uv":2.0},"astro":{"sunrise":"07:07
        AM","sunset":"04:53 PM","moonrise":"09:05 AM","moonset":"07:37 PM","moon_phase":"Waxing
        Crescent","moon_illumination":3,"is_moon_up":1,"is_sun_up":0},"hour":[{"time_epoch":1705125600,"time":"2024-01-13
        00:00","temp_c":-4.9,"temp_f":23.2,"is_day":0,"condition":{"text":"Blowing
        snow","icon":"//cdn.weatherapi.com/weather/64x64/night/227.png","code":1114},"wind_mph":22.8,"wind_kph":36.7,"wind_degree":259,"wind_dir":"W","pressure_mb":1002.0,"pressure_in":29.59,"precip_mm":0.02,"precip_in":0.0,"snow_cm":0.0,"humidity":72,"cloud":100,"feelslike_c":-13.6,"feelslike_f":7.6,"windchill_c":-13.6,"windchill_f":7.6,"heatindex_c":-4.9,"heatindex_f":23.2,"dewpoint_c":-9.2,"dewpoint_f":15.5,"will_it_rain":0,"chance_of_rain":0,"will_it_snow":1,"chance_of_snow":73,"vis_km":2.0,"vis_miles":1.0,"gust_mph":28.3,"gust_kph":45.6,"uv":1.0},{"time_epoch":1705129200,"time":"2024-01-13
        01:00","temp_c":-5.6,"temp_f":21.8,"is_day":0,"condition":{"text":"Blowing
        snow","icon":"//cdn.weatherapi.com/weather/64x64/night/227.png","code":1114},"wind_mph":22.4,"wind_kph":36.0,"wind_degree":258,"wind_dir":"WSW","pressure_mb":1003.0,"pressure_in":29.61,"precip_mm":0.01,"precip_in":0.0,"snow_cm":0.0,"humidity":72,"cloud":100,"feelslike_c":-14.5,"feelslike_f"[...]
