---
http_interactions:
- request:
    method: get
    uri: http://api.weatherapi.com/v1/current.json?key=db2e7bac77164ad99e115641241301&q=38.10984,-87.78929
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Cdn-Pullzone:
      - '93447'
      Cdn-Uid:
      - 8fa3a04a-75d9-4707-8056-b7b33c8ac7fe
      Cdn-Requestcountrycode:
      - US
      X-Weatherapi-Qpm-Left:
      - '4999984'
      Cdn-Proxyver:
      - '1.04'
      Cdn-Requestpullsuccess:
      - 'True'
      Cdn-Requestpullcode:
      - '200'
      Cdn-Cachedat:
      - 01/13/2024 19:49:20
      Cdn-Edgestorageid:
      - '1029'
      Cdn-Status:
      - '200'
      Cdn-Requestid:
      - 735b8cb7824c37f547c14fa16ef5d8d4
      Cdn-Cache:
      - EXPIRED
    body:
      encoding: ASCII-8BIT
      string: '{"location":{"name":"Wadesville","region":"Indiana","country":"United
        States of America","lat":38.11,"lon":-87.79,"tz_id":"America/Chicago","localtime_epoch":1705175323,"localtime":"2024-01-13
        13:48"},"current":{"last_updated_epoch":1705175100,"last_updated":"2024-01-13
        13:45","temp_c":-2.8,"temp_f":27.0,"is_day":1,"condition":{"text":"Overcast","icon":"//cdn.weatherapi.com/weather/64x64/day/122.png","code":1009},"wind_mph":12.5,"wind_kph":20.2,"wind_degree":240,"wind_dir":"WSW","pressure_mb":1014.0,"pressure_in":29.94,"precip_mm":0.0,"precip_in":0.0,"humidity":72,"cloud":100,"feelslike_c":-9.6,"feelslike_f":14.8,"vis_km":16.0,"vis_miles":9.0,"uv":2.0,"gust_mph":18.3,"gust_kph":29.4}}'
  recorded_at: Sat, 13 Jan 2024 19:49:20 GMT
recorded_with: VCR 6.2.0
