---
http_interactions:
- request:
    method: get
    uri: http://api.weatherapi.com/v1/current.json?key=db2e7bac77164ad99e115641241301&q=38.10984,-87.78929
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Cdn-Pullzone:
      - '93447'
      Cdn-Uid:
      - 8fa3a04a-75d9-4707-8056-b7b33c8ac7fe
      Cdn-Requestcountrycode:
      - US
      X-Weatherapi-Qpm-Left:
      - '4999945'
      Cdn-Proxyver:
      - '1.04'
      Cdn-Requestpullsuccess:
      - 'True'
      Cdn-Requestpullcode:
      - '200'
      Cdn-Cachedat:
      - 01/16/2024 21:25:18
      Cdn-Edgestorageid:
      - '1029'
      Cdn-Status:
      - '200'
      Cdn-Requestid:
      - 318dea0cfcc8d7bb4e7f568ee16b040f
      Cdn-Cache:
      - HIT
    body:
      encoding: ASCII-8BIT
      string: '{"location":{"name":"Wadesville","region":"Indiana","country":"United
        States of America","lat":38.11,"lon":-87.79,"tz_id":"America/Chicago","localtime_epoch":1705440278,"localtime":"2024-01-16
        15:24"},"current":{"last_updated_epoch":1705439700,"last_updated":"2024-01-16
        15:15","temp_c":-8.3,"temp_f":17.1,"is_day":1,"condition":{"text":"Sunny","icon":"//cdn.weatherapi.com/weather/64x64/day/113.png","code":1000},"wind_mph":9.4,"wind_kph":15.1,"wind_degree":300,"wind_dir":"WNW","pressure_mb":1024.0,"pressure_in":30.25,"precip_mm":0.0,"precip_in":0.0,"humidity":44,"cloud":0,"feelslike_c":-15.7,"feelslike_f":3.8,"vis_km":16.0,"vis_miles":9.0,"uv":2.0,"gust_mph":14.2,"gust_kph":22.8}}'
  recorded_at: Tue, 16 Jan 2024 21:26:31 GMT
recorded_with: VCR 6.2.0
