---
http_interactions:
- request:
    method: get
    uri: https://api.yelp.com/v3/businesses/search?location=Santa%20Rita,%20Guam&term=Filapino
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer YUh6t8SRIA4qQIOHWCCG2RgF4mqeR2AJewalPI1iPMVSsjPp32MxIVIMnSYmxsQtCmKikssBrLDQBRL0K5Z90y_neWh0bznyoWRIejZbZfDXxFrvmfY2cYXlrjikZXYx
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Ratelimit-Dailylimit:
      - '500.0'
      Ratelimit-Remaining:
      - '490.0'
      Ratelimit-Resettime:
      - '2024-01-15T00:00:00+00:00'
      X-Zipkin-Id:
      - fb4f130d82b1cdf7
      X-Routing-Service:
      - routing-main--useast1-74f644dc4b-2rzrx; site=public_api_v3
      X-Mode:
      - ro
      X-Proxied:
      - 10-65-172-176-useast1bprod
      X-Extlb:
      - 10-65-172-176-useast1bprod
    body:
      encoding: ASCII-8BIT
      string: '{"businesses": [], "total": 0, "region": {"center": {"longitude": 144.67157363891602,
        "latitude": 13.386780574283616}}}'
  recorded_at: Sun, 14 Jan 2024 23:03:03 GMT
- request:
    method: get
    uri: https://api.yelp.com/v3/businesses/search?location=Guam&term=Filapino
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer YUh6t8SRIA4qQIOHWCCG2RgF4mqeR2AJewalPI1iPMVSsjPp32MxIVIMnSYmxsQtCmKikssBrLDQBRL0K5Z90y_neWh0bznyoWRIejZbZfDXxFrvmfY2cYXlrjikZXYx
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Ratelimit-Dailylimit:
      - '500.0'
      Ratelimit-Remaining:
      - '489.0'
      X-Routing-Service:
      - routing-main--useast1-74f644dc4b-vqsp4; site=public_api_v3
      X-Zipkin-Id:
      - 6271792ed289ae83
      Ratelimit-Resettime:
      - '2024-01-15T00:00:00+00:00'
      X-Mode:
      - ro
      X-Proxied:
      - 10-65-92-52-useast1aprod
      X-Extlb:
      - 10-65-92-52-useast1aprod
    body:
      encoding: ASCII-8BIT
      string: '{"businesses": [], "total": 0, "region": {"center": {"longitude": 144.788818359375,
        "latitude": 13.442717225538974}}}'
  recorded_at: Sun, 14 Jan 2024 23:03:29 GMT
- request:
    method: get
    uri: https://api.yelp.com/v3/businesses/search?location=Culumbo,%20Sri%20Lanka&term=German
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer YUh6t8SRIA4qQIOHWCCG2RgF4mqeR2AJewalPI1iPMVSsjPp32MxIVIMnSYmxsQtCmKikssBrLDQBRL0K5Z90y_neWh0bznyoWRIejZbZfDXxFrvmfY2cYXlrjikZXYx
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
      X-Zipkin-Id:
      - 6b0fbf91267cec99
      X-Routing-Service:
      - routing-main--useast1-74f644dc4b-d5pwf; site=public_api_v3
      X-Mode:
      - ro
      X-Proxied:
      - 10-65-92-52-useast1aprod
      X-Extlb:
      - 10-65-92-52-useast1aprod
    body:
      encoding: UTF-8
      string: '{"error": {"code": "LOCATION_NOT_FOUND", "description": "Could not
        execute search, try specifying a more exact location."}}'
  recorded_at: Sun, 14 Jan 2024 23:04:06 GMT
- request:
    method: get
    uri: https://api.yelp.com/v3/businesses/search?location=Sri%20Lanka&term=German
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer YUh6t8SRIA4qQIOHWCCG2RgF4mqeR2AJewalPI1iPMVSsjPp32MxIVIMnSYmxsQtCmKikssBrLDQBRL0K5Z90y_neWh0bznyoWRIejZbZfDXxFrvmfY2cYXlrjikZXYx
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
      X-Zipkin-Id:
      - e2a53323b5d14455
      X-Routing-Service:
      - routing-main--useast1-74f644dc4b-gxxcb; site=public_api_v3
      X-Mode:
      - ro
      X-Proxied:
      - 10-65-113-124-useast1aprod
      X-Extlb:
      - 10-65-113-124-useast1aprod
    body:
      encoding: UTF-8
      string: '{"error": {"code": "LOCATION_NOT_FOUND", "description": "Could not
        execute search, try specifying a more exact location."}}'
  recorded_at: Sun, 14 Jan 2024 23:04:22 GMT
- request:
    method: get
    uri: https://api.yelp.com/v3/businesses/search?location=Santa%20Rita,%20Guam&term=mexican
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer YUh6t8SRIA4qQIOHWCCG2RgF4mqeR2AJewalPI1iPMVSsjPp32MxIVIMnSYmxsQtCmKikssBrLDQBRL0K5Z90y_neWh0bznyoWRIejZbZfDXxFrvmfY2cYXlrjikZXYx
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Zipkin-Id:
      - bb3758e24577f74d
      Ratelimit-Remaining:
      - '486.0'
      Ratelimit-Resettime:
      - '2024-01-15T00:00:00+00:00'
      X-Routing-Service:
      - routing-main--useast1-74f644dc4b-tjnzj; site=public_api_v3
      Ratelimit-Dailylimit:
      - '500.0'
      X-Mode:
      - ro
      X-Proxied:
      - 10-65-176-91-useast1bprod
      X-Extlb:
      - 10-65-176-91-useast1bprod
    body:
      encoding: ASCII-8BIT
      string: '{"businesses": [{"id": "77L4eeAHh05E_9q9rnNfeQ", "alias": "buen-provecho-taco-shack-agat",
        "name": "Buen Provecho Taco Shack", "image_url": "https://s3-media4.fl.yelpcdn.com/bphoto/kplqtLb6uyiZCrTWwOl0aA/o.jpg",
        "is_closed": false, "url": "https://www.yelp.com/biz/buen-provecho-taco-shack-agat?adjust_creative=Ko_RyE3dr9uWqASqqv96Tw&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=Ko_RyE3dr9uWqASqqv96Tw",
        "review_count": 51, "categories": [{"alias": "tacos", "title": "Tacos"}, {"alias":
        "foodstands", "title": "Food Stands"}], "rating": 4.0, "coordinates": {"latitude":
        13.3989529320449, "longitude": 144.663711631541}, "transactions": [], "price":
        "$$", "location": {"address1": "Route 2", "address2": "", "address3": null,
        "city": "Agat", "zip_code": "", "country": "GU", "state": "GU", "display_address":
        ["Route 2", "Agat, Guam"]}, "phone": "+16719698226", "display_phone": "+1
        671-969-8226", "distance": 1598.504966975197}, {"id": "yeczzULoehWJwWQqtaLgMQ",
        "alias": "caliente-mexican-taqueria-hag\u00e5t\u00f1a", "name": "Caliente
        Mexican Taqueria", "image_url": "https://s3-media2.fl.yelpcdn.com/bphoto/BPt_aaEi1gEqQTXt5KSFMA/o.jpg",
        "is_closed": false, "url": "https://www.yelp.com/biz/caliente-mexican-taqueria-hag%C3%A5t%C3%B1a?adjust_creative=Ko_RyE3dr9uWqASqqv96Tw&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=Ko_RyE3dr9uWqASqqv96Tw",
        "revi[...]
